@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  background-color: rgb(19 21 22);
  font-family: 'Hack', monospace;
  color: rgb(231 229 226);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Hack', monospace;
  color: rgb(231 229 226);
}

ul {
  list-style-type: '|';
}

code {
  font-family: Menlo, Monaco, Courier New, monospace;
  font-size: 0.9em;
  background-color: rgb(224, 224, 224);
  padding: 2px 4px;
  border-radius: 3px;
  border-bottom: 2px solid #bfbfbf;
}

footer {
  padding: 15px;
  text-align: center;
}
.your-class {
}
